<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="revenue-title">Receitas</h1>
                </div>
                <div class="col-md-6 align-right align-center">
                    <button class="btn btn-success revenue-btn-add" routerLink="/revenue/edit">
                        <i class="fa fa-plus"></i> Adicionar nova Receita
                    </button>
                </div>
            </div>
            <hr>
            <form [formGroup]="form" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><strong>Título</strong></label>
                            <input type="text" formControlName="title" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><strong>Data</strong></label>
                            <input type="date" formControlName="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><strong>Categoria</strong></label>
                            <select formControlName="category" class="form-control">
                                <option *ngFor="let category of categories" value="{{ category.id }}">
                                    {{ category.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><strong>Recurso Financeiro</strong></label>
                            <select formControlName="financialResource" id="financialResource" class="form-control">
                                <option *ngFor="let financialResource of financialResources"
                                    value="{{ financialResource.id }}">
                                    {{ financialResource.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 align-left">
                        <button class="btn btn-success" (click)="filter()">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                        <button class="btn btn-primary ml-3" (click)="clearFilter()">
                            <i class="fa fa-backspace"></i> Limpar
                        </button>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Título</th>
                            <th>Valor</th>
                            <th>Categoria</th>
                            <th>Recurso Financeiro</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let revenue of revenues">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-warning mr-2" title="Editar"
                                                routerLink="/revenue/edit/{{revenue.id}}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" title="Excluir"
                                                (click)="deleteRevenue(revenue.id)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ revenue.id }}</td>
                                <td>{{ revenue.date }}</td>
                                <td>{{ revenue.title }}</td>
                                <td>{{ revenue.value | currency: 'BRL' }}</td>
                                <td>{{ revenue.Category ? revenue.Category.title : 'Sem categoria' }}</td>
                                <td>{{ revenue.FinancialResource ? revenue.FinancialResource.title : 'Sem recurso financeiro' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>