.bg-light {
    background-color: #2576e8 !important;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto', cursive;
    color: #fafafa !important;
}

.header ul.navbar-nav li.nav-item {
    font-size: 1.6rem;
}

.nav-link {
    color: #fafafa !important;
}