<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="category-title">Categorias</h1>
                </div>
                <div class="col-md-6 align-right align-center">
                    <button class="btn btn-success category-btn-add" routerLink="/category/edit">
                        <i class="fa fa-plus"></i> Adicionar nova categoria
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Título</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-warning mr-2" title="Editar"
                                                routerLink="/category/edit/{{category.id}}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" title="Excluir"
                                                (click)="deleteCategory(category.id)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ category.id }}</td>
                                <td>{{ category.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>