<div class="container mt-5 expense-edit">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)="save()" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="expense-title">{{ idEdit ? 'Editar despesa' : 'Nova despesa' }}</h1>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-title" for="title"><strong>Título</strong></label>
                            <input id="title" type="text" formControlName="title" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-title" for="value"><strong>Valor</strong></label>
                            <input id="value" type="text" formControlName="value" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-title" for="date"><strong>Data</strong></label>
                            <input id="date" type="date" formControlName="date" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category" class="label-title"><strong>Categoria</strong></label>
                            <select formControlName="CategoryId" id="category" class="form-control">
                                <option *ngFor="let category of categories" value="{{ category.id }}">
                                    {{ category.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="financialResource" class="label-title"><strong>Recurso
                                    Financeiro</strong></label>
                            <select formControlName="FinancialResourceId" id="financialResource" class="form-control">
                                <option *ngFor="let financialResource of financialResources"
                                    value="{{ financialResource.id }}">
                                    {{ financialResource.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 align-right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary mr-3" routerLink="/expense">Voltar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>