// Reset browser default CSS styles.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    background-color: #f0f0f0 !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}