<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="expense-title">Receitas</h1>
                </div>
                <div class="col-md-6 align-right align-center">
                    <button class="btn btn-success expense-btn-add" routerLink="/expense/edit">
                        <i class="fa fa-plus"></i> Adicionar nova Receita
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Título</th>
                            <th>Valor</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of expenses">
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-warning mr-2" title="Editar"
                                                routerLink="/expense/edit/{{expense.id}}">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-danger" title="Excluir"
                                                (click)="deleteExpense(expense.id)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ expense.id }}</td>
                                <td>{{ expense.date }}</td>
                                <td>{{ expense.title }}</td>
                                <td>{{ expense.value | currency: 'BRL' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>